DATABASE_URL="postgres://postgres.qdydcjeonvpvifdfcntz:QEvX7r28HZeoWMXr@aws-0-ap-south-1.pooler.supabase.com:5432/postgres?currentSchema=CoreMailer"
REDIS_URL="rediss://default:AawQAAIjcDE3NTA4NGQyY2RiODQ0YzUyYjBlNmRkZTcxYzU5MjYwOXAxMA@sincere-seahorse-44048.upstash.io:6379"
